{% extends 'blogbase.html' %}
{% load static %}

{% block content %}
  
<style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #c41d53;
  color: white;
}
.post_excerpt:hover {
  background: transparent !important;
}

img {
    max-width:100% !important;
    height:auto !important;
}
</style>

<body>

        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 title_big" >
					<h2>Travel<br class="visible-lg visible-md visable-sm"> Essentials</h2>     
                </div>
                </div>
 <section id="blog_posts" >
    	<!-- BLOG - POST 1 -->
	    <div class="post_excerpt">
	        <div class="container">

	            <div class="row">
	                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<h3>Italy Travel Essentials</h3>   
	                </div>
	            </div>
	            
	            <div class="row">
	                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                        <p>There are some essentials for Italy Travel.  Listed below is some information that I hope you will find useful. 

For the first timers my most important recommendation is to not overdo your experience to see everything; you will just be rushing from one place to another place without having enough time to enjoy each location. I hope that what I have on this website is useful to you in Planning your Italian vacation whether it be your first or your 10th.  

Please look through these pages and see if there is anything that will help you plan your trip and then go ahead make your plans and have a blast in my favorite vacation spot in the world. If you need custom Itinerary Planning then please contact me. 
</p>

	                </div>
	            </div>


                <div class="row">
	                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<h3>When to Go</h3>   
	                </div>
	            </div>
	            
	            <div class="row">
	                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                        <p>I think the best time to go is Spring and Fall.  Specifically in May/June and September/October.  The weather is typically pleasant, it is less crowded, and the prices can be lower. Off season offers colder weather but if you like to avoid the crowds then this is the time for you. Try to stay away in July and particularly August.  They can both get very hot and August has the added disadvantage of all of the country going on vacation which means some restaurants and shops are closed. Here are some weather averages for the big three cities: 

</p>

	                </div>
	            </div>










<body>
<h3>Rome</h3>
<table id="customers">
  <tr>
    <th>Month</th>
    <th>High</th>
    <th>Low</th>
  </tr>
  <tr>
    <td>January</td>
    <td>55</td>
    <td>36</td>
  </tr>
  <tr>
    <td>February</td>
    <td>57</td>
    <td>37</td>
  </tr>
  <tr>
    <td>March</td>
    <td>62</td>
    <td>40</td>
  </tr>
  <td>April</td>
    <td>66</td>
    <td>44</td>
  </tr>
  <tr>
    <td>May</td>
    <td>75</td>
    <td>51</td>
  </tr>
  <tr>
    <td>June</td>
    <td>83</td>
    <td>58</td>
  </tr>
  <tr>
    <td>July</td>
    <td>89</td>
    <td>62</td>
  </tr>
  <tr>
    <td>August</td>
    <td>89</td>
    <td>63</td>
  </tr>
  <tr>
    <td>September</td>
    <td>82</td>
    <td>58</td>
  </tr>
  <tr>
    <td>October</td>
    <td>72</td>
    <td>51</td>
  </tr>
    <tr>
    <td>November</td>
    <td>62</td>
    <td>42</td>
  </tr>
  <tr>
    <td>December</td>
    <td>56</td>
    <td>38</td>
  </tr>
</table>

<br><br>
<h3>Florence</h3>
<table id="customers">
  <tr>
    <th>Month</th>
    <th>High</th>
    <th>Low</th>
  </tr>
  <tr>
    <td>January</td>
    <td>52</td>
    <td>36</td>
  </tr>
  <tr>
    <td>February</td>
    <td>55</td>
    <td>37</td>
  </tr>
  <tr>
    <td>March</td>
    <td>60</td>
    <td>41</td>
  </tr>
  <td>April</td>
    <td>65</td>
    <td>46</td>
  </tr>
  <tr>
    <td>May</td>
    <td>75</td>
    <td>53</td>
  </tr>
  <tr>
    <td>June</td>
    <td>82</td>
    <td>59</td>
  </tr>
  <tr>
    <td>July</td>
    <td>89</td>
    <td>64</td>
  </tr>
  <tr>
    <td>August</td>
    <td>89</td>
    <td>63</td>
  </tr>
  <tr>
    <td>September</td>
    <td>80</td>
    <td>58</td>
  </tr>
  <tr>
    <td>October</td>
    <td>70</td>
    <td>50</td>
  </tr>
    <tr>
    <td>November</td>
    <td>58</td>
    <td>41</td>
  </tr>
  <tr>
    <td>December</td>
    <td>52</td>
    <td>37</td>
  </tr>
</table>

<br><br>

<h3>Venice</h3>
<table id="customers">
  <tr>
    <th>Month</th>
    <th>High</th>
    <th>Low</th>
  </tr>
  <tr>
    <td>January</td>
    <td>44</td>
    <td>32</td>
  </tr>
  <tr>
    <td>February</td>
    <td>47</td>
    <td>33</td>
  </tr>
  <tr>
    <td>March</td>
    <td>55</td>
    <td>39</td>
  </tr>
  <td>April</td>
    <td>61</td>
    <td>46</td>
  </tr>
  <tr>
    <td>May</td>
    <td>71</td>
    <td>55</td>
  </tr>
  <tr>
    <td>June</td>
    <td>77</td>
    <td>61</td>
  </tr>
  <tr>
    <td>July</td>
    <td>82</td>
    <td>65</td>
  </tr>
  <tr>
    <td>August</td>
    <td>82</td>
    <td>64</td>
  </tr>
  <tr>
    <td>September</td>
    <td>74</td>
    <td>58</td>
  </tr>
  <tr>
    <td>October</td>
    <td>64</td>
    <td>49</td>
  </tr>
    <tr>
    <td>November</td>
    <td>53</td>
    <td>39</td>
  </tr>
  <tr>
    <td>December</td>
    <td>45</td>
    <td>33</td>
  </tr>
</table>



<br><br><br>
<div class="row">
	                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                        <p>They always mention travels to Venice in Autumn and Winter are prone to Acqua Alta.  This is flooding that will submerge Piazza San Marco.  There is now a new system called Mose that has been successful to date in preventing the flooding. However, this is only activated when the flood waters are over a certain height or when the barrier is activated when the threat of a flood is anticipated.  On August 9, 2021 there was Acqua Alta in Piazza San Marco which is a rare occurrence at this time of the year.  Mose was not activated because the threat was not severe enough for its deployment.  So, you may still want to bring some boots with you if you go at that time of year.
 

</p>

	                </div>
	            </div>


 <div class="row">
	                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<h3>Clothing</h3>   
	                </div>
	            </div>
	            
	            <div class="row">
	                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                        <p>Italians tend to be stylish dressers.  If possible wear something nice to dinner. It does not have to be an Armani suit but smart casual is a good choice.  I find that a pair of non faded black jeans with a polo shirt works well for men. For women a nice dress, skirt or pants will be fine.  Shoes are important.  During the day when pounding out the miles, athletic shoes or something more comfortable is fine.  At night going to a restaurant you should stay away from sneakers and wear something a little more dressy but make sure they are comfortable.  Somehow or someway they will still know you are tourists but I think the old saying holds true - When in Rome do as the Romans.  One thing to be aware of is that to gain entry into churches and other religious sites you are required to cover your shoulders and knees.  They will not let you gain access if you do not follow these rules. 

</p>

	                </div>
	            </div>

 <div class="row">
	                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<h3>Phone</h3>   
	                </div>
	            </div>
	            
	            <div class="row">
	                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                        <p>
Please be sure to get an international plan with plenty of data or better yet  get a prepaid sim card with enough data for GPS use.  Just check with your carrier to be sure your phone can accept another carrier's card.  You can use wifi in hotels for wifi calling but the wifi is sometimes iffy.  Do not end up like us many years ago when we were visiting my Father’s home town and we got an alert that our cell coverage and data were stopped because we were way over the limit.  It ended up we owed $1,500 for the overage.  Thankfully AT&T let us buy a plan retroactively but it put a big kink in the day.  

</p>

	                </div>
	            </div>


 <div class="row">
	                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<h3>Euros, Debit and Credit Cards</h3>   
	                </div>
	            </div>
	            
	            <div class="row">
	                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                        <p>We always purchase a couple of hundred Euro before we leave the US at our local bank branch.  This will prevent you from spending an exorbitant fee at the airport and gives you some money for a cab or other necessity.  Be sure to contact your financial institutions to let them know that your credit cards and debit card will be used overseas to prevent you from being denied on a purchase.  Get money as you need it from an ATM.  Also check with your bank and credit cards on what the fees there are for overseas transactions.


</p>

	                </div>
	            </div>


 <div class="row">
	                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<h3>Converters</h3>   
	                </div>
	            </div>
	            
	            <div class="row">
	                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                        <p>Remember that Italy is on 220 and our appliances will not work, not to mention the plugs do not fit.  The below link is a good choice because it offers two plugs on the adapter with 4 USB ports.  It also has multiple plugs because there are sometimes that the outlets may differ. 
<a href="https://www.amazon.com/gp/product/B074QLCKW6/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B074QLCKW6&linkCode=as2&tag=simplyitalytr-20&linkId=69ce952069a15e54a2dc92fc62b741ba"><img src = "https://m.media-amazon.com/images/I/6111hXNAgVL._AC_SL1000_.jpg" width="400" height="500" ></a>


</p>

	                </div>
	            </div>


 <div class="row">
	                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<h3>Guide Books</h3>   
	                </div>
	            </div>
	            
	            <div class="row">
	                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                        <p>
I do not expect that you will find everything you need on this website.  Here are a couple of Guidebooks that I like and they have been great for planning previous trips.

Fodors Essential Italy
This is a great all around guidebook.  This has the big three but also ventures out to smaller cities and towns with good information.  The recommendations are solid and they do update the guides regularly so the info is not stale.
<br><br><a href = "https://www.amazon.com/gp/product/1640971807/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1640971807&linkCode=as2&tag=simplyitalytr-20&linkId=eeedf34a80a717ea0a6c05409bee1407"><img src = "https://images-na.ssl-images-amazon.com/images/I/51xFf6ua4JL._SX322_BO1,204,203,200_.jpg" width="200" height="300"></a>
 <br><br>
Lonely Planet Italy
This is a great guide if you are venturing more off the beaten path.  It contains a significant amount of info for smaller towns.  The books are well laid out and are also updated regularly.
<br><br><a href = "https://www.amazon.com/gp/product/178701584X/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=178701584X&linkCode=as2&tag=simplyitalytr-20&linkId=1930f4e8ddf3f7c4f9cc3c8be36b9da2"><img src = "https://images-na.ssl-images-amazon.com/images/I/51TwgBYofhL._SY291_BO1,204,203,200_QL40_FMwebp_.jpg" width="200" height="300"></a>



</p>

	                </div>
	            </div>                                                


 <div class="row">
	                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<h3>Luggage</h3>   
	                </div>
	            </div>
	            
	            <div class="row">
	                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                        <p>
You need good luggage and trust me it is worth it.  I have come to the realization that good luggage is worth the price after years of travelling with cheap brands and suffering through broken wheels and handles while on vacation and having to buy a new suitcase during my travels. I prefer the 4 wheel rolling versions because they are easier on your hand, wrist and arm.   Here are some good choices:
Tumi is one of the best out there as far as I am concerned.  We have had our set for years and they are very sturdy and are designed well to get the most out of the space. The only issue is that they are expensive.
Briggs and Riley is another expensive choice that is very high quality.  They are highly rated and a good choice. Well designed and in the league with Tumi.
Eagle Creek is a more reasonably priced choice while still providing high quality.  They are significantly lower than the luxury brands.
Samsonite is a lower cost brand that is reliable.  I have owned Samsonite and found them to be reliable and durable.  They start at around $159 for checked luggage all the way up to $600.


</p>

	                </div>
	            </div> 


                 <div class="row">
	                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<h3>Camera Equipment</h3>   
	                </div>
	            </div>
	            
	            <div class="row">
	                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                        <p>
Cell phone cameras have come a long way but I would not trust one for a once in a lifetime or any other significant trip.  Italy has so many photo ops that you should go for the price of a good camera if you do not have one. Please get your new camera at least two weeks in advance so you get used to the shooting menu and functionality of the camera before you go. If you purchase from B&H they have a very liberal 30 day return policy. 

I always purchase my camera equipment from B&H.  I have been dealing with them for years and they offer excellent prices and return policy.  If you have any issue with your purchases then they will be with you 100% of the way. 

There are several basic camera types:
Single Lens Reflex or SLR where you view the image through the lens.  I have always used this kind of camera and like looking through the lens seeing the action as it happens.  I find this particularly helpful for wildlife.
Mirrorless Cameras are gaining in popularity.  With these cameras you are using Electronic Viewfinders.  This is like looking at a video of the image. The benefit of these cameras are that they are smaller in size while still offering the ability to change lenses. Mirrorless cameras have the disadvantage of coasting significantly more, placing them in the expensive category.  I would not recommend spending this much money if you are a casual shooter.
Point and shoots are a good compromise for a less expensive camera.  These usually come with a zoom lens that goes from a wide angle for landscape to zoom. The disadvantage is that there can be some shutter lag meaning that there is a delay from when you push the button until when the photo is taken. 
Rangefinders are unique in that you are not looking through the lens or an EVF.  You are looking through glass at the live action but there is a mechanism that shows when the lens is in focus.  This is what I shoot with but may not be the best option for some users because there is no autofocus and it takes time to master focusing.  The benefit is that it is small and easy to travel with.  

</p>

	                </div>
	            </div> 



                 <div class="row">
	                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<h3>Nikon D3500 with 18-55 mm lens</h3>   
	                </div>
	            </div>
	            
	            <div class="row">
	                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                        <p>
I think the 18-55 lens is a good choice for travel in Italy as it gives a wide angle to normal range.  I really do not see needing a zoom too much in Italy.  Usually I end up shooting with medium to wide angle lenses when I am there. <br><br>
<a href = "https://www.amazon.com/gp/product/B07N92DBR8/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B07N92DBR8&linkCode=as2&tag=simplyitalytr-20&linkId=4bf649beaf233c108d495430a820e62b"><img src = 'https://static.bhphoto.com/images/images500x500/nikon_1590_d3500_dslr_camera_with_1535597416_1433064.jpg'></a>


</p>

	                </div>
	            </div> 



                 <div class="row">
	                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<h3>Canon EOS Rebel T7 DSLR Camera with 18-55mm Lens</h3>   
	                </div>
	            </div>
	            
	            <div class="row">
	                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                        <p>
A solid choice in this category.  It is highly rated and comes with an 18-55 lens that is perfect for travel photography.<br><br>
<a href = "https://www.amazon.com/gp/product/B07C2Z21X5/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B07C2Z21X5&linkCode=as2&tag=simplyitalytr-20&linkId=a8790b2d76c197694f0e346341d0fc18"><img src = 'https://static.bhphoto.com/images/images500x500/canon_2727c002_eos_rebel_t7_dslr_1550657171_1461734.jpg'></a>

</p>

	                </div>
	            </div> 

 <div class="row">
	                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<h3> <div class="row">
	                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<h3>Canon EOS 90D DSLR Camera with 18-135mm Lens</h3>   
	                </div>
	            </div>
	            
	            <div class="row">
	                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                        <p>
This is a nice mid range kit that gives you an 18-135 lens for some extra reach.  
Canon EOS 90D DSLR Camera with 18-135mm Lens 
<br><br>
<a href = "https://www.amazon.com/gp/product/B07WHV3HXL/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B07WHV3HXL&linkCode=as2&tag=simplyitalytr-20&linkId=0e5edafd58248cd59e31544ac02125bb"><img src = "https://static.bhphoto.com/images/images500x500/canon_3616c016_eos_90d_dslr_camera_1566949680_1502489.jpg"> </a>

</p>

	                </div>
	            </div> 


 <div class="row">
	                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<h3>Nikon D7500 DSLR Camera with 18-140mm Lens</h3>   
	                </div>
	            </div>
	            
	            <div class="row">
	                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                        <p>
Another solid mid range kit.  This also has a good lens that gives you some extra reach.  
Nikon D7500 DSLR Camera with 18-140mm Lens 1582 B&H Photo Video 
<br><br>
<a href = "https://www.amazon.com/gp/product/B08J9QXDLN/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B08J9QXDLN&linkCode=as2&tag=simplyitalytr-20&linkId=91cf693d011ca71b14565469ef1aafb8"><img src ="https://static.bhphoto.com/images/images500x500/nikon_d7500_dslr_camera_with_1492597269_1333200.jpg"></a>

</p>

	                </div>
	            </div> 


 <div class="row">
	                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<h3>Sony Alpha a7 III Mirrorless Digital Camera (Body Only) and Sony FE 24-105mm f/4 G OSS Lens</h3>   
	                </div>
	            </div>
	            
	            <div class="row">
	                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                        <p>
An expensive but great  choice. When you add a quality lens you are looking at ~$3,000.  There is the advantage of being a full frame sensor which has some benefits. TThe Sony FE 24-105 f/4 his is a nice lens to pair with the a7 that is not as expensive or heavy as the 24-70 2.8.
<br><br><a href = "https://www.amazon.com/gp/product/B07B43WPVK/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B07B43WPVK&linkCode=as2&tag=simplyitalytr-20&linkId=1556a6d0f8d748043724b39048aa0a25"><img src ="https://static.bhphoto.com/images/images500x500/sony_ilce_7m3_alpha_a7_iii_mirrorless_1519677934_1394217.jpg"></a>
<a href = "https://www.amazon.com/gp/product/B07X7KL6JM/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B07X7KL6JM&linkCode=as2&tag=simplyitalytr-20&linkId=f967874aa5926e8178463768cf974ca2"><img src ="https://static.bhphoto.com/images/images500x500/sony_sel24105g_fe_24_105mm_f_4_g_1508901628_1369442.jpg"></a>


</p>

	                </div>
	            </div> 

 <div class="row">
	                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<h3>Nikon Z 6II Mirrorless Digital Camera (Body Only) with Nikon NIKKOR Z 24-70mm f/4 S Lens</h3>   
	                </div>
	            </div>
	            
	            <div class="row">
	                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                        <p>
Nikon is a serious competitor to the Sony Mirrorless cameras. They have started investing in development for mirrorless cameras and lenses.  The 24-70mm gives an excellent range for travel photography while not being too heavy. 
<br><br><a href = "https://www.amazon.com/gp/product/B07GPRSYG8/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B07GPRSYG8&linkCode=as2&tag=simplyitalytr-20&linkId=080a084a5ccbf7e4dba82cc9ea2fac33"><img src ="https://static.bhphoto.com/images/images500x500/nikon_z_6_ii_mirrorless_1602636707_1597167.jpg"></a>
<a href = "https://www.amazon.com/gp/product/B07GPX4HK5/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B07GPX4HK5&linkCode=as2&tag=simplyitalytr-20&linkId=ee97f48e078a11864e66865256407c93"><img src ="https://static.bhphoto.com/images/images500x500/nikon_20072_nikkor_z_24_70mm_f_4_1534992913_1431708.jpg"></a>

</p>

	                </div>
	            </div> 

 <div class="row">
	                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<h3>Sony Cyber-shot DSC-RX100 VA Digital Camera</h3>   
	                </div>
	            </div>
	            
	            <div class="row">
	                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                        <p>
This camera has the advantage of having everything in a small package.  It  comes with a 24-70 Zeiss lens which has an excellent reputation.  The $998 price is reasonable for what you get in one package. 
<br><br><a href ="https://www.amazon.com/gp/product/B07T78VSF2/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B07T78VSF2&linkCode=as2&tag=simplyitalytr-20&linkId=012ac1404575ca5b31a3e9f49634dca2"><img src ="https://static.bhphoto.com/images/images500x500/sony_dsc_rx100m5a_dsc_rx100_va_digital_camera_1531439415_1421536.jpg"></a>


</p>

	                </div>
	            </div> 


 <div class="row">
	                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<h3>Olympus Tough TG-6 Digital Camera (Red)</h3>   
	                </div>
	            </div>
	            
	            <div class="row">
	                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                        <p>
The name says it all.  This is a lower priced point and shoot with the equivalent of a 25-100 lens.  At $449 it offers good bang for the buck.<br><br>
<a href ="https://www.amazon.com/gp/product/B07RC8HPHL/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B07RC8HPHL&linkCode=as2&tag=simplyitalytr-20&linkId=44d9d9abae4bda402066dcce5430e1d6"><img src = "https://static.bhphoto.com/images/images500x500/olympus_v104210ru000_tough_tg_6_digital_camera_1563789974_1477205.jpg"></a>


</p>

	                </div>
	            </div> 


 <div class="row">
	                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<h3>Rangefinders</h3>   
	                </div>
	            </div>
	            
	            <div class="row">
	                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                        <p>
Leica is the brand that comes to mind first.  Leica has an incredible reputation for image quality and precision build.  The cameras and lenses are hand assembled and the build quality shows.  Of course there is the downside of being incredibly expensive.  A camera and lens will set you back around 12K.  Do not even think about these cameras if you are not an experienced photographer.  The disadvantages are that there is no autofocus and there is a unique focusing system that takes some getting used to.  The advantages are unparalleled image quality and a  compact package that is very easy to shoot with once you get the hang of it.  This is the system I use when travelling to Italy because I can easily can easily carry it all day and Leica lenses are just spectacular. 


</p>

	                </div>
	            </div> 


                 <div class="row">
	                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<h3>Leica M10-R Digital Rangefinder Camera</h3>   
	                </div>
	            </div>
	            
	            <div class="row">
	                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                        <p>
An exceptional camera that serves up 40mp images.  This gives you the advantage of being able to significantly crop and enlarge images if desired. As mentioned before, the build quality is exceptional and image quality with a Leica lens is beyond reproach.<br><br>
<a href = "https://www.amazon.com/gp/product/B08FBL8PF6/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B08FBL8PF6&linkCode=as2&tag=simplyitalytr-20&linkId=3b8b69640405805f68a72831f3e713ff"><img src ="https://static.bhphoto.com/images/images500x500/leica_m10_r_digital_rangefinder_camera_1594889195_1571535.jpg"></a>



</p>

	                </div>
	            </div> 



                 <div class="row">
	                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<h3>Leica Summicron-M 35mm f/2 ASPH Lens (Black)</h3>   
	                </div>
	            </div>
	            
	            <div class="row">
	                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                        <p>
A favorite lens of mine, the 35mm offers exceptional image quality and compact size.  It is an excellent all around lens for travel.<br><br>
<a href ="https://www.amazon.com/gp/product/B01CF33WF4/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B01CF33WF4&linkCode=as2&tag=simplyitalytr-20&linkId=5a62e0f92f334b69c7a159db56476070"><img src = "https://static.bhphoto.com/images/images500x500/leica_11673_summicron_m_35mm_f_2_asph_1452761419_1217509.jpg"></a>



</p>

	                </div>
	            </div> 



                 <div class="row">
	                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<h3>Leica Summicron-M 50mm f/2 Lens</h3>   
	                </div>
	            </div>
	            
	            <div class="row">
	                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                        <p>
Another excellent lens that I would recommend as a second lens in a kit.  If you are only looking for one lens then I would recommend the 35mm for versatility.<br><br>
<a href = "https://www.amazon.com/gp/product/B01LOVZWBK/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B01LOVZWBK&linkCode=as2&tag=simplyitalytr-20&linkId=3e927a3e0ad2159486b3e3e8ff4c34c7"><img src = "https://static.bhphoto.com/images/images500x500/Leica_11826_50mm_f_2_0_Summicron_M_1280159128_86059.jpg"></a>




</p>

	                </div>
	            </div> 




	        </div>
			
        </div>
    </section>
</body>
</html>



 {% endblock content %}