    <!-- FOOTER -->        
    <section id="footer" data-stellar-background-ratio="0.5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 footer_content" >
					<h4>Copyright © 2021 Simply Italy Travel</h4>   
					<div class="social_icons">
	                <ul>
	                	<li><div data-icon="&#xe242;" class="social_icon mail_icon" onclick="location.href='#'"></div></li>
	                    <li><div data-icon="&#xe282;" class="social_icon twitter_icon" onclick="location.href='#'"></div></li>
	                    <li><div data-icon="&#xe281;" class="social_icon facebook_icon" onclick="location.href='#'"></div></li>
	                    <li><div data-icon="&#xe279;" class="social_icon linkdin_icon" onclick="location.href='#'"></div></li>
	                    <li><div data-icon="&#xe27f;" class="social_icon dribbble_icon" onclick="location.href='#'"></div></li>
	                </ul>
					</div>  
					
                </div>	
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 footer_arrow_container" >
					<a href="#home" class="button arrow_up arrow_up_v1"><div data-icon="&#xe106;" class="button_icon arrow_up_icon"></div></a>
                </div>
            </div>
        </div>
    </section>
    
       
