    <!-- FOOTER -->        
    <section id="footer" data-stellar-background-ratio="0.5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 footer_content" >
					<h4>Copyright © 2021 Simply Italy Travel</h4>   
					<div class="social_icons">
	                <ul>
	                    <li><div data-icon="&#xe282;" class="social_icon twitter_icon" onclick="location.href='https://twitter.com/simply_italy/'"></div></li>
	                    <li><div data-icon="&#xe281;" class="social_icon facebook_icon" onclick="location.href='https://www.facebook.com/SimplyItalyTravel'"></div></li>
	                    <li><div data-icon="&#xe280;" class="social_icon linkdin_icon" onclick="location.href='https://www.instagram.com/simplyitalytravel/'"></div></li>
	                </ul>
					</div>  
					
                </div>	
            </div>
        </div>
    </section>
    
       
