{% load static %}

<head>
    <title>Alexa - HTML5/CSS3 Template</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>  
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    
    <!--
	 /$$   /$$ /$$$$$$       /$$$$$$$$ /$$   /$$ /$$$$$$$$ /$$$$$$$  /$$$$$$$$ /$$                 
	| $$  | $$|_  $$_/      |__  $$__/| $$  | $$| $$_____/| $$__  $$| $$_____/| $$                 
	| $$  | $$  | $$           | $$   | $$  | $$| $$      | $$  \ $$| $$      | $$                 
	| $$$$$$$$  | $$           | $$   | $$$$$$$$| $$$$$   | $$$$$$$/| $$$$$   | $$                 
	| $$__  $$  | $$           | $$   | $$__  $$| $$__/   | $$__  $$| $$__/   |__/                 
	| $$  | $$  | $$           | $$   | $$  | $$| $$      | $$  \ $$| $$                           
	| $$  | $$ /$$$$$$         | $$   | $$  | $$| $$$$$$$$| $$  | $$| $$$$$$$$ /$$                 
	|__/  |__/|______/         |__/   |__/  |__/|________/|__/  |__/|________/|__/                 
	  /$$$$$$  /$$      /$$  /$$$$$$  /$$$$$$$  /$$$$$$$$        /$$$$$$  /$$   /$$ /$$     /$$ /$$
	 /$$__  $$| $$$    /$$$ /$$__  $$| $$__  $$|__  $$__/       /$$__  $$| $$  | $$|  $$   /$$/| $$
	| $$  \__/| $$$$  /$$$$| $$  \ $$| $$  \ $$   | $$         | $$  \__/| $$  | $$ \  $$ /$$/ | $$
	|  $$$$$$ | $$ $$/$$ $$| $$$$$$$$| $$$$$$$/   | $$         | $$ /$$$$| $$  | $$  \  $$$$/  | $$
	 \____  $$| $$  $$$| $$| $$__  $$| $$__  $$   | $$         | $$|_  $$| $$  | $$   \  $$/   |__/
	 /$$  \ $$| $$\  $ | $$| $$  | $$| $$  \ $$   | $$         | $$  \ $$| $$  | $$    | $$        
	|  $$$$$$/| $$ \/  | $$| $$  | $$| $$  | $$   | $$         |  $$$$$$/|  $$$$$$/    | $$     /$$
	 \______/ |__/     |__/|__/  |__/|__/  |__/   |__/          \______/  \______/     |__/    |__/
    
    THIS IS ALEXA - HTML5/CSS3 TEMPLATE MADE BY MAT PRZEGIETKA
    Check out this clean code :)
    -->
    
    
    <!-- CSS Files comes here -->
    <link href=" {% static 'css/bootstrap.css' %} " rel="stylesheet" media="screen">                              <!-- Bootstrap styles -->
    <link href=" {% static 'css/style.css' %} " rel="stylesheet" media="screen">                                  <!-- Main CSS file -->
    <link href=" {% static 'css/rapid-icons.css' %} " rel="stylesheet" media="screen">                            <!-- Custom icons CSS file -->
    <link href=" {% static 'css/animate.css' %} " rel="stylesheet" media="screen">                                <!-- CSS animations -->
    <link href=" {% static 'css/custom_animations.css' %} " rel="stylesheet" media="screen">                      <!-- Custom CSS animations -->
    <link href=" {% static 'css/owl.carousel.css' %} " rel="stylesheet" media="screen">                           <!-- Owl Carousel Styles - Portfolio Section -->
    <link href=" {% static 'css/owl.theme.css' %} " rel="stylesheet" media="screen">                              <!-- Owl Carousel Styles - Portfolio Section -->
    <link href=" {% static 'css/nivo-lightbox.css' %} " rel="stylesheet" media="screen">                          <!-- Lightbox Styles -->
    <link href=" {% static 'css/nivo_lightbox_themes/default/default.css' %} " rel="stylesheet" media="screen">   <!-- Lightbox Styles -->
    <link href=" {% static 'css/nivo-slider.css' %} " rel="stylesheet" media="screen">                            <!-- Slider Styles -->
    <link href=" {% static 'css/nivo_slider_themes/default/default.css' %} " rel="stylesheet" media="screen">     <!-- Slider Styles -->
    <link href=" {% static 'css/colors/common_colors.css' %} " rel="stylesheet" media="screen">                   <!-- Template Color Scheme -->
    <link href=" {% static 'css/colors/red.css' %} " rel="stylesheet" media="screen">                             <!-- Template Colors -->
    <link href=" {% static 'css/responsive.css' %} " rel="stylesheet" media="screen">                             <!-- Responsive Fixes -->
    
    
    <!-- Modernizer and IE specyfic files -->  
    <script src=" {% static 'js/modernizr.custom.js' %} "></script>
     
         
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    	<script src=" {% static 'js/html5shiv.js' %} "></script>
	  	<script src=" {% static 'js/respond.min.js' %} "></script>
    <![endif]-->
    
    
    <!--[if IE 9]>
    	<link href=" {% static 'css/ie.css' %} " rel="stylesheet" media="screen">
    <![endif]--> 
	
	   
  </head>