{% extends 'blogbase.html' %}
{% load static %}

{% block content %}
  
<style>
* {
    max-width:100% !important;
    height:auto !important;
}
</style>
    <section id="portfolio_intro" >
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 title_big" >
					<h2>Photo<br class="visible-lg visible-md visable-sm"> Gallery</h2>     
                </div>
                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 title_content" >
                	<div class="content">
	                	<h5>Included in this section are some of my photos from my visits throughout Italy.  This section will also continue to grow as time goes on.  I hope these photos encourage you to make a leap and plan that Italian Vacation! </h5>  
					</div>    
                </div>
            </div>

    <p>
					
When to Go
I think the best time to go is Spring and Fall.  Specifically in May/June and September/October.  The weather is typically pleasant, it is less crowded, and the prices can be lower. Off season offers colder weather but if you like to avoid the crowds then this is the time for you. Try to stay away in July and particularly August.  They can both get very hot and August has the added disadvantage of all of the country going on vacation which means some restaurants and shops are closed. Here are some weather averages for the big three cities: 

Rome
Month 		High		Low
January	55		36
February	57 		37
March 		62		40
April		66		44
May		75		51
June		83		58
July		89		62
August		89		63
September	82		58
October 	72		51
November	62		42
December	56		38

Florence
January	52		36
February	55		37
March 		60		41
April		65		46
May		75		53
June		82		59
July		89		64
August		89		63
September	80		58
October 	70		50
November	58		41
December	52		37

Venice
January	44		32
February	47		33
March		55		39
April		61		46
May		71		55
June		77		61
July		82		65
August		82		64
September	74		58
October	64		49
November	53		39
December	45		33	

They always mention travels to Venice in Autumn and Winter are prone to Acqua Alta.  This is flooding that will submerge Piazza San Marco.  There is now a new system called Mose that has been successful to date in preventing the flooding. However, this is only activated when the flood waters are over a certain height or when the barrier is activated when the threat of a flood is anticipated.  On August 9, 2021 there was Acqua Alta in Piazza San Marco which is a rare occurrence at this time of the year.  Mose was not activated because the threat was not severe enough for its deployment.  So, you may still want to bring some boots with you if you go at that time of year.

Clothing
Italians tend to be stylish dressers.  If possible wear something nice to dinner. It does not have to be an Armani suit but smart casual is a good choice.  I find that a pair of non faded black jeans with a polo shirt works well for men. For women a nice dress, skirt or pants will be fine.  Shoes are important.  During the day when pounding out the miles, athletic shoes or something more comfortable is fine.  At night going to a restaurant you should stay away from sneakers and wear something a little more dressy but make sure they are comfortable.  Somehow or someway they will still know you are tourists but I think the old saying holds true - When in Rome do as the Romans.  One thing to be aware of is that to gain entry into churches and other religious sites you are required to cover your shoulders and knees.  They will not let you gain access if you do not follow these rules.   

Phone
Please be sure to get an international plan with plenty of data or better yet  get a prepaid sim card with enough data for GPS use.  Just check with your carrier to be sure your phone can accept another carrier's card.  You can use wifi in hotels for wifi calling but the wifi is sometimes iffy.  Do not end up like us many years ago when we were visiting my Father’s home town and we got an alert that our cell coverage and data were stopped because we were way over the limit.  It ended up we owed $1,500 for the overage.  Thankfully AT&T let us buy a plan retroactively but it put a big kink in the day.  

Euros, Debit and Credit Cards
We always purchase a couple of hundred Euro before we leave the US at our local bank branch.  This will prevent you from spending an exorbitant fee at the airport and gives you some money for a cab or other necessity.  Be sure to contact your financial institutions to let them know that your credit cards and debit card will be used overseas to prevent you from being denied on a purchase.  Get money as you need it from an ATM.  Also check with your bank and credit cards on what the fees there are for overseas transactions.

Converters
Remember that Italy is on 220 and our appliances will not work, not to mention the plugs do not fit.  The below link is a good choice because it offers two plugs on the adapter with 4 USB ports.  It also has multiple plugs because there are sometimes that the outlets may differ. 
https://www.amazon.com/Voltage-Converter-International-European-Countries/dp/B074QLCKW6/ref=sr_1_2_sspa?dchild=1&keywords=power+converter+for+italy&qid=1629034958&sr=8-2-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUFGTE5MR0ZRTUFOVlImZW5jcnlwdGVkSWQ9QTA2OTE0MTUxMjRSWTFRNTM2MUdVJmVuY3J5cHRlZEFkSWQ9QTA1Mzk5MDgzSFVNUU5SMzBUQThUJndpZGdldE5hbWU9c3BfYXRmJmFjdGlvbj1jbGlja1JlZGlyZWN0JmRvTm90TG9nQ2xpY2s9dHJ1ZQ== 

Guide Books
I do not expect that you will find everything you need on this website.  Here are a couple of Guidebooks that I like and they have been great for planning previous trips.

Fodors Essential Italy
This is a great all around guidebook.  This has the big three but also ventures out to smaller cities and towns with good information.  The recommendations are solid and they do update the guides regularly so the info is not stale.
https://www.amazon.com/Fodors-Essential-Italy-Full-color-Travel/dp/1640971807/ref=sr_1_3?crid=14APQCVR6UPN&dchild=1&keywords=fodors+italy+2021&qid=1628548108&sprefix=Fodors+%2Caps%2C182&sr=8-3 
 
Lonely Planet Italy
This is a great guide if you are venturing more off the beaten path.  It contains a significant amount of info for smaller towns.  The books are well laid out and are also updated regularly.
https://www.amazon.com/Lonely-Planet-Italy-Travel-Guide/dp/178701584X/ref=sr_1_1?crid=1TYC9D02KTB0N&dchild=1&keywords=lonely+planet+italy&qid=1628547625&sprefix=Lonel%2Caps%2C187&sr=8-1 

Luggage
You need good luggage and trust me it is worth it.  I have come to the realization that good luggage is worth the price after years of travelling with cheap brands and suffering through broken wheels and handles while on vacation and having to buy a new suitcase during my travels. I prefer the 4 wheel rolling versions because they are easier on your hand, wrist and arm.   Here are some good choices:
Tumi is one of the best out there as far as I am concerned.  We have had our set for years and they are very sturdy and are designed well to get the most out of the space. The only issue is that they are expensive.
Briggs and Riley is another expensive choice that is very high quality.  They are highly rated and a good choice. Well designed and in the league with Tumi.
Eagle Creek is a more reasonably priced choice while still providing high quality.  They are significantly lower than the luxury brands.
Samsonite is a lower cost brand that is reliable.  I have owned Samsonite and found them to be reliable and durable.  They start at around $159 for checked luggage all the way up to $600.

Camera Equipment
Cell phone cameras have come a long way but I would not trust one for a once in a lifetime or any other significant trip.  Italy has so many photo ops that you should go for the price of a good camera if you do not have one. Please get your new camera at least two weeks in advance so you get used to the shooting menu and functionality of the camera before you go. Iff you purchase from B&H they have a very liberal 30 day return policy. 

I always purchase my camera equipment from B&H.  I have been dealing with them for years and they offer excellent prices and return policy.  If you have any issue with your purchases then they will be with you 100% of the way. 

There are several basic camera types:
Single Lens Reflex or SLR where you view the image through the lens.  I have always used this kind of camera and like looking through the lens seeing the action as it happens.  I find this particularly helpful for wildlife.
Mirrorless Cameras are gaining in popularity.  With these cameras you are using Electronic Viewfinders.  This is like looking at a video of the image. The benefit of these cameras are that they are smaller in size while still offering the ability to change lenses. Mirrorless cameras have the disadvantage of coasting significantly more, placing them in the expensive category.  I would not recommend spending this much money if you are a casual shooter.
Point and shoots are a good compromise for a less expensive camera.  These usually come with a zoom lens that goes from a wide angle for landscape to zoom. The disadvantage is that there can be some shutter lag meaning that there is a delay from when you push the button until when the photo is taken. 
Rangefinders are unique in that you are not looking through the lens or an EVF.  You are looking through glass at the live action but there is a mechanism that shows when the lens is in focus.  This is what I shoot with but may not be the best option for some users because there is no autofocus and it takes time to master focusing.  The benefit is that it is small and easy to travel with.  

SLR

Budget Choices

Nikon D3500 with 18-55 mm lens
I think the 18-55 lens is a good choice for travel in Italy as it gives a wide angle to normal range.  I really do not see needing a zoom too much in Italy.  Usually I end up shooting with medium to wide angle lenses when I am there.  https://www.bhphotovideo.com/c/product/1433064-GREY/nikon_1590_d3500_dslr_camera_with.html

Canon EOS Rebel T7 DSLR Camera with 18-55mm Lens
A solid choice in this category.  It is highly rated and comes with an 18-55 lens that is perfect for travel photography.
https://www.bhphotovideo.com/c/product/1461734-REG/canon_2727c002_eos_rebel_t7_dslr.html 


Mid Range SLRs
Canon EOS 90D DSLR Camera with 18-135mm Lens
This is a nice mid range kit that gives you an 18-135 lens for some extra reach.  
Canon EOS 90D DSLR Camera with 18-135mm Lens 

Nikon D7500 DSLR Camera with 18-140mm Lens
Another solid mid range kit.  This also has a good lens that gives you some extra reach.  
Nikon D7500 DSLR Camera with 18-140mm Lens 1582 B&H Photo Video 


Mirrorless
Sony Alpha a7 III Mirrorless Digital Camera (Body Only) and Sony FE 24-105mm f/4 G OSS Lens
An expensive but great  choice. When you add a quality lens you are looking at ~$3,000.  There is the advantage of being a full frame sensor which has some benefits. TThe Sony FE 24-105 f/4 his is a nice lens to pair with the a7 that is not as expensive or heavy as the 24-70 2.8.
Sony Alpha a7 III Mirrorless Digital Camera (Body Only) 
Sony FE 24-105mm f/4 G OSS Lens SEL24105G/2 B&H Photo Video 

Nikon Z 6II Mirrorless Digital Camera (Body Only) with Nikon NIKKOR Z 24-70mm f/4 S Lens
Nikon is a serious competitor to the Sony Mirrorless cameras. They have started investing in development for mirrorless cameras and lenses.  The 24-70mm gives an excellent range for travel photography while not being too heavy. 
Nikon Z6II Mirrorless Digital Camera (Z6 II Camera Body) 1659 B&H
Nikon NIKKOR Z 24-70mm f/4 S Lens 20072 B&H Photo Video 

Point and Shoot

Sony Cyber-shot DSC-RX100 VA Digital Camera
This camera has the advantage of having everything in a small package.  It  comes with a 24-70 Zeiss lens which has an excellent reputation.  The $998 price is reasonable for what you get in one package. 
Sony Cyber-shot DSC-RX100 VA Digital Camera

Olympus Tough TG-6 Digital Camera (Red) 
The name says it all.  This is a lower priced point and shoot with the equivalent of a 25-100 lens.  At $449 it offers good bang for the buck.
Olympus Tough TG-6 Digital Camera (Red) V104210RU000 B&H Photo

Rangefinders
Leica is the brand that comes to mind first.  Leica has an incredible reputation for image quality and precision build.  The cameras and lenses are hand assembled and the build quality shows.  Of course there is the downside of being incredibly expensive.  A camera and lens will set you back around 12K.  Do not even think about these cameras if you are not an experienced photographer.  The disadvantages are that there is no autofocus and there is a unique focusing system that takes some getting used to.  The advantages are unparalleled image quality and a  compact package that is very easy to shoot with once you get the hang of it.  This is the system I use when travelling to Italy.

Leica M10-R Digital Rangefinder Camera

An exceptional camera that serves up 40mp images.  This gives you the advantage of being able to significantly crop and enlarge images if desired. As mentioned before, the build quality is exceptional and image quality with a Leica lens is beyond reproach. 
Leica M10-R Digital Rangefinder Camera (Black Chrome)

Leica Summicron-M 35mm f/2 ASPH Lens (Black)
A favorite lens of mine, the 35mm offers exceptional image quality and compact size.  It is an excellent all around lens for travel.
Leica Summicron-M 35mm f/2 ASPH Lens (Black)

Leica Summicron-M 50mm f/2 Lens
Another excellent lens that I would recommend as a second lens in a kit.  If you are only looking for one lens then I would recommend the 35mm for versatility.
Leica Summicron-M 50mm f/2 Lens 11826 B&H Photo Video 
					 
</p>
				</div>
            </div>





 {% endblock content %}