{% extends 'blogbase.html' %}
{% load static %}

{% block content %}
  
<style>
.post_excerpt * {
    max-width:100% !important;
    height:auto !important;
}

.post_excerpt:hover {
  background: transparent !important;
}
</style>
    <!-- Image Slider -->	    	
	    <section id="blog_posts" >
    	<!-- BLOG - POST 1 -->
	    <div class="post_excerpt">
	        <div class="container">
	         	<div class="row">
	         		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style ="margin:auto;" >
	         			<img src="{{ fav.thumbnail.url }}" alt="" class="img-responsive">
	         		</div>
				</div> 	
	        
	            <div class="row">
	                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style ="margin:auto;">
						<h3>{{ fav.title }}</h3>   
	                </div>
	            </div>
	            
	            <div class="row">
	                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" class="img-responsive">
                        {{ fav.content | safe }}
	                </div>
	            </div>
	        </div>
        </div>
    </section>

{% endblock content %}