{% extends 'blogbase.html' %}
{% load static %}

{% block content %}
  
<style>
img {
  max-width: 100%;
  height: auto;
}
</style>
    <!-- Image Slider -->	    	
	<section id="portfolio_single_work">
        <div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 slider-wrapper theme-default" >
	                <div id="slider">
						<img src="{{ fav.thumbnail.url }}" alt="img01">
					</div>
                </div>
			</div>
			
			<div class="row portfolio_single_description">
				<div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 portfolio_single_details " >   
	                <h3>{{ fav.title }}</h3>

	                <p>{{ fav.content | safe }}</p>	
                </div>
			</div>
		</div>
	</section>

    <script>
		$( document ).ready(function()  {
	        $('#slider').nivoSlider({
		        effect: 'random',
		        directionNav: false,
		        controlNav: false,
		        pauseTime: 3000000,  
	        });
        });
    </script>
{% endblock content %}